body {
    background-color: lightskyblue;
    font-family: "lora", sans-serif;
}
/* 6666FF, 99FF99, dd8295, Bisque, seif
*/
header {
    position: fixed;
    background-color: #2C4348;
    top: 0;
    left: 0;
    width: 100%;
    height: 90px;
    padding: 10px;
}

aside {
    position: fixed;  
    background-color: #8CAB79;
    top: 110px;
    left: 0;
    width: 20%;
    bottom: 20px;
    padding: 10px;
}
section {
    position: fixed;  
    background-color: #ACCEC9;
    top: 110px;
    left: 20%;
    width: 80%;
    bottom: 20px;
    padding: 10px;
    overflow-y: scroll;
}
footer {
    position: fixed;  
    background-color: black;
    color: white;    
    left: 0;
    width: 100%;
    height: 20px;
    bottom: 0;
    text-align: center;
}

nav {
   display: flex;
   justify-content: space-between;
   margin: 0 10px;
}

.logo {
    font-size: 30px;
    font-weight: bold;
    font-family: cursive;
    line-height: 90px;
}

.nav-link {
    text-decoration: none;
    color: white;
}

.nav-menu {
    list-style: none;
    display: flex;
    margin-right: 40px;
}

.nav-menu-item {
    font-size: 22px;
    margin: 0 10px;
    line-height: 90px;
}

.menu-item {
    padding: 5px;
    background-color: green;
    border-radius: 10px;
}

.menu-item:hover {
    background-color: black;
}


.card > div:first-child {
    overflow: hidden; 
}

.zoom-img {
    transition: transform 0.3s ease-in-out;
}

.zoom-card {
    transition: transform 0.3s ease-in-out;
    overflow: hidden;
}.d-flex {

}

.zoom-card:hover {
    transform: scale(1.05);
    z-index: 10;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
